 <!--header-->
 <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a id="portfolio" class="navbar-brand" href="">PORTFOLIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><img src="assets/argentinaprograma.PNG" id="argentina"  alt=""
              width="130" height="124" class="d-inline-block"></a>
          <a class="nav-link" href="#"><img src="assets/inti.PNG"  id="inti" alt="" width="130" height="124"
              class="d-inline-block"></a>
          <a class="nav-link" href="#"><img src="assets/ministerio.PNG"  id="ministerio" alt="" width="130" height="124"
              class="d-inline-block"></a>

              <div id="social">
                <a  href="https://www.facebook.com/marcio.lopez1" target="_blank"><img class="redes"
                    src="assets/facebook (1).png" id="enlace1" alt="url de mi cuenta de facebook"> </a>
                <a  href="https://ok.ru/profile/581190525582" target="_blank"><img class="redes"
                    src="assets/odnoklassniki.png" id="enlace2"  alt="url de mi cuenta de ok.ru"></a>
                <a  href="https://twitter.com/MarcioL11452870" target="_blank"><img class="redes"
                    src="assets/signo-de-twitter.png"  id="enlace3"  alt="url de mi cuenta de twitter"></a>
                <a href="https://t.me/MarcioLopez77" target="_blank"  ><img class="redes" src="assets/telegrama.png"  id="enlace4"   alt="numero de telegram"></a>
                <a  href="https://wa.me/543884072588" target="_blank" ><img class="redes" src="assets/whatsapp.png"   id="enlace5" alt="numero de whatsapp"></a>
                <a  href="https://www.instagram.com/ciomar2010/" target="_blank"><img class="redes"
                    src="assets/instagram.png"   id="enlace6" alt="url de mi cuenta de instagram"></a>
                <a  href="https://www.youtube.com/channel/UCVyhH2CUqZ90_b2a8IxW3nA" target="_blank"><img
                    class="redes" src="assets/youtube.png"  id="enlace7" alt="url de mi canal de youtube"></a>
                <a  href="login.html" id="titulo"><img id="logueate" src="assets/floppy.png" alt="imagen de floppy disk"> L O G I N</a>
        
              </div>



        </div>

        

      </div>
      
    </div>
  </nav>