<body>
    <!--titulo principal -->
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
            </div>
            <!---campo de entrada de cursos realizados-------------->
      
            <div class="register-form">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
                <div class="form-group">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#04ac04" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                  </svg>
                  <label class="login-field-icon fui-lock" for="cursos_realizados">&nbsp;CURSOS REALIZADOS</label>
                  <input type="text" formControlName="cursos_realizados" class="form-control" id="cursos_realizados"
                    [ngClass]="{ 'is-invalid': submitted && f['cursos_realizados'].errors }" />
                  <div *ngIf="submitted && f['cursos_realizados'].errors" class="invalid-feedback">
                    <div *ngIf="f['cursos_realizados'].errors['required']">ingrese texto</div>
                    <div *ngIf="f['cursos_realizados'].errors['minlength']">
                      minimo 6 caracteres de entrada
                    </div>
                    <div *ngIf="f['cursos_realizados'].errors['maxlength']">
                      maximo 100 caracteres de entrada
                    </div>
                  </div>
                </div>
                <br>
                <!--botones de guardar y borrar---------------------------->
      
                <div class="btn-group" role="group" aria-label="Basic example">
                  <div class="form-group">
                    <button class="entrada" type="submit" class="btn btn-success">GUARDAR</button>
                  &nbsp;
                  <button class="entrada" type="button" (click)="onReset()"
                      class="btn btn-outline-success float-right">BORRAR </button>
                  </div>
                </div>
              </form>
      
            </div>
      
          </div>
        </div>
      </body>
    