p{
    text-align: center;
    

}
.btn{
    color:#04ac04 ;
    border-style: double;
    border-color: #04ac04;
}
/*lapiz*/
#pen {
    margin-right: 20px;
    margin-bottom: 10px;
   display: flex;
   justify-content: flex-end;   

}
button {
    margin-right: 20px;
    margin-bottom: 10px;
   display: flex;
   justify-content: flex-end;
   border-style: solid;  
   border-radius: 50px;
}
#modal-body {
    background-color: #000;
}
