/*nombre principal*/
/*banner*/
img {
    background-size: 100%;
    position: relative;

}

/*hover banner*/
#login1:hover {
    filter: invert();
}

/*foto de perfil*/
#perfil {

    top: -125px;

}

/* hover foto perfil*/
#perfil:hover {
    filter: sepia(60%);
}

#nombre {
    font-family: 'Press Start 2P', cursive;
    color: #04ac04;
    text-align: center;
    margin-top: -115px;
    
}

#nombre:hover {
    color: #FFFFFF;
    background: #040404;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
        0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18,
        0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

/*lapiz*/
#pen {
    margin-right: 20px;
    margin-bottom: 10px;
   display: flex;
   justify-content: flex-end;   

}
button {
    margin-right: 20px;
    margin-bottom: 10px;
   display: flex;
   justify-content: flex-end;
   border-style: solid;  
   border-radius: 50px;
}
#modal-body {
    background-color: #000;
}