<!--ESTUDIOS-->
<div class="container">
    <div class="row">
      <div id="encabezado">
        <p id="encabezado2"> FREE PASCAL IDE <em
            class="azul">-------------------------------------------------------------------------</em><img
            src="assets/botones.PNG" alt="imagen de botones de maximizar, minimizar y cerrar ventana"></p>
      </div>
      <div id="encabezado3">
        <p id="encabezado4"><strong class="capital">F</strong>ile <strong class="capital">E</strong>dit
          <strong class="capital">S</strong>earch <strong class="capital">R</strong>un <strong
            class="capital">C</strong>ompile
          <strong class="capital">D</strong>ebug <strong class="capital">T</strong>ools <strong
            class="capital">O</strong>ptions
          <strong class="capital">W</strong>indow <strong class="capital">H</strong>elp <em
            class="gris">----------------------------</em>20:34:45
        </p>
      </div>
      <div id="encabezado5">
        <p><strong class="white">======================== ESTUDIOS REALIZADOS.pas
            =====================</strong></p>
        <p class="yellow"><strong class="white">program </strong>ESTUDIOS REALIZADOS;_</p>
        <p class="yellow"><strong class="white">uses </strong>graph;_</p>
        <p class="yellow"><strong class="white">var</strong> <br> <em class="azul">---------</em> gd, gr : integer</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>PathToDriver :</strong>string;</p>
        <p><strong class="white">begin</strong></p>

        <div class="row"  *ngFor="let curso of studies">
        <div class="col -3">
          <p class="yellow"><strong class="white"><em class="azul">--------</em>{{curso.nivel}}:</strong>{{curso.curso}} de {{curso.duracion}};</p>
        </div>
         
          </div>
          <p><strong class="white">end</strong></p>

         <!--icono de lapiz-->
    <div id="pen">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#educacionModal">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff" class="bi bi-pencil-fill" viewBox="0 0 16 16">
    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
  </svg>
</button>
<button  class="btn btn-success" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFF" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button>

<!-- Modal -->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-educacion-modal></app-educacion-modal>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">CERRAR</button>
      </div>
    </div>
  </div>
</div>

        

      </div>
      <div id="encabezado6">
        <p id="encabezado7"><strong class="capital">F1 </strong> help <strong class="capital">F2 </strong> save
          <strong class="capital">F3 </strong> open <strong class="capital">Alt+F9 </strong> compile <strong
            class="capital">F9 </strong> make
          <strong class="capital">Alt+F10 </strong> local menu
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>


 

   
