<!--ESTUDIOS-->
<div class="container">
    <div class="row">
      <div id="encabezado">
        <p id="encabezado2"> FREE PASCAL IDE <em
            class="azul">-------------------------------------------------------------------------</em><img
            src="assets/botones.PNG" alt="imagen de botones de maximizar, minimizar y cerrar ventana"></p>
      </div>
      <div id="encabezado3">
        <p id="encabezado4"><strong class="capital">F</strong>ile <strong class="capital">E</strong>dit
          <strong class="capital">S</strong>earch <strong class="capital">R</strong>un <strong
            class="capital">C</strong>ompile
          <strong class="capital">D</strong>ebug <strong class="capital">T</strong>ools <strong
            class="capital">O</strong>ptions
          <strong class="capital">W</strong>indow <strong class="capital">H</strong>elp <em
            class="gris">----------------------------</em>20:34:45
        </p>
      </div>
      <div id="encabezado5">
        <p><strong class="white">==================================== ESTUDIOS REALIZADOS.pas
            ===================================</strong></p>
        <p class="yellow"><strong class="white">program </strong>ESTUDIOS REALIZADOS;_</p>
        <p class="yellow"><strong class="white">uses </strong>graph;_</p>
        <p class="yellow"><strong class="white">var</strong> <br> <em class="azul">---------</em> gd, gr : integer</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>PathToDriver :</strong>string;</p>
        <p><strong class="white">begin</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Primarios: </strong> Escuela
          "CORNELIO SAAVEDRA", anios 1984-1988 ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Intermedios:</strong> Colegio
          Nacional Intermedio "9 de Abril, años 1989-1991" ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Secundarios:</strong> Colegio
          Nacional Mixto "9 de Abril", anios 1992-1995 ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Universitarios:</strong>
          Universidad Nacional de Jujuy, UNJU, Facultad de Ingenieria ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em
              class="azul">----------</em>Ingenieria Informatica 1er. anio -- 2011 ;</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em
              class="azul">----------</em>Licenciatura en Sistemas 1er. anio -- 2012 ;</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em class="azul">----------</em>Analista
            Programdor Universitario A.P.U 3er. anio -- 2013/2022 ;</strong></p>
        <!-- <P class="yellow"><strong class="white"><em
              class="azul">-------------------------------------------------</em>writeln</strong>: modo grafico ; </p> -->

        <p><strong class="white">end</strong></p>

      </div>
      <div id="encabezado6">
        <p id="encabezado7"><strong class="capital">F1 </strong> help <strong class="capital">F2 </strong> save
          <strong class="capital">F3 </strong> open <strong class="capital">Alt+F9 </strong> compile <strong
            class="capital">F9 </strong> make
          <strong class="capital">Alt+F10 </strong> local menu
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
