<!--ESTUDIOS-->
<div class="container">
    <div class="row">
      <div id="encabezado">
        <p id="encabezado2"> FREE PASCAL IDE <em
            class="azul">-------------------------------------------------------------------------</em><img
            src="assets/botones.PNG" alt="imagen de botones de maximizar, minimizar y cerrar ventana"></p>
      </div>
      <div id="encabezado3">
        <p id="encabezado4"><strong class="capital">F</strong>ile <strong class="capital">E</strong>dit
          <strong class="capital">S</strong>earch <strong class="capital">R</strong>un <strong
            class="capital">C</strong>ompile
          <strong class="capital">D</strong>ebug <strong class="capital">T</strong>ools <strong
            class="capital">O</strong>ptions
          <strong class="capital">W</strong>indow <strong class="capital">H</strong>elp <em
            class="gris">----------------------------</em>20:34:45
        </p>
      </div>
      <div id="encabezado5">
        <p><strong class="white">======================== ESTUDIOS REALIZADOS.pas
            =====================</strong></p>
        <p class="yellow"><strong class="white">program </strong>ESTUDIOS REALIZADOS;_</p>
        <p class="yellow"><strong class="white">uses </strong>graph;_</p>
        <p class="yellow"><strong class="white">var</strong> <br> <em class="azul">---------</em> gd, gr : integer</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>PathToDriver :</strong>string;</p>
        <p><strong class="white">begin</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Primarios: </strong> Escuela
          "CORNELIO SAAVEDRA", anios 1984-1988 ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Intermedios:</strong> Colegio
          Nacional Intermedio "9 de Abril, años 1989-1991" ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Secundarios:</strong> Colegio
          Nacional Mixto "9 de Abril", anios 1992-1995 ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em>Estudios Universitarios:</strong>
          Universidad Nacional de Jujuy, UNJU, Facultad de Ingenieria ;</p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em
              class="azul">----------</em>Ingenieria Informatica 1er. anio -- 2011 ;</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em
              class="azul">----------</em>Licenciatura en Sistemas 1er. anio -- 2012 ;</strong></p>
        <p class="yellow"><strong class="white"><em class="azul">----------</em><em class="azul">----------</em>Analista
            Programdor Universitario A.P.U 3er. anio -- 2013/2022 ;</strong></p>
        <!--icono de lapiz-->
    <a href="">
      <div id="pen">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#dd9d20" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
      </div>
    </a>

        <p><strong class="white">end</strong></p>

      </div>
      <div id="encabezado6">
        <p id="encabezado7"><strong class="capital">F1 </strong> help <strong class="capital">F2 </strong> save
          <strong class="capital">F3 </strong> open <strong class="capital">Alt+F9 </strong> compile <strong
            class="capital">F9 </strong> make
          <strong class="capital">Alt+F10 </strong> local menu
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
