<div class="container">
    <div class="row">
      <pre><strong>
      **********************************************
      **********************************************
      _ __  _ __ ___  _   _  ___  ___| |_ ___  ___ 
      | '_ \| '__/ _ \| | | |/ _ \/ __| __/ _ \/ __|
      | |_) | | | (_) | |_| |  __/ (__| || (_) \__ \
      | .__/|_|  \___/ \__, |\___|\___|\__\___/|___/
      | |               __/ |                       
      |_|              |___/                       
      **********************************************
      **********************************************
    </strong>
    </pre>
      <!--PROYECTOS-->
      <div id="monitor" class="container">
        <div class="row">
          <p id="monitor2">SISTEMA DE ATENCION DE PACIENTES DE VETERINARIA --> <a
              href="https://github.com/marcioRLopez/2019.git" target="_blank"><img class="icon"
                src="imagenes/huella.png" alt=""></a></p>
          <p id="monitor2">PAGINA ESTATICA EN HTML, CSS Y BOOTSTRAP DE MI PORTFOLIO -->
            https://github.com/marcioRLopez/pagina-estatica-html-.git</p>
          <p id="monitor2">FRONTEND DE MI PORTFOLIO --> https://github.com/marcioRLopez/portfolio-frontend.git</p>
          <p id="monitor2">BACKEND DE MI PORTFOLIO --> https://github.com/marcioRLopez/portfolio-backend.git</p>
          <p id="monitor2">SISTEMA DE REUNIONES --> https://github.com/leven2000/TpFinal-grupo5.git</p>
        </div>
      </div>

    </div>
  </div>
  <!--espacio y linea de separacion-->
  <br>
  <hr>
  <br>
  <br>
